{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Teşekkürler
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Bizden alışveriş yaptığınız için teşekkür ederiz
                </h3>
                <p>Siparişiniz başarıyla tamamlandı. sipariş numaranız <strong>{{ order.id }}</strong>.</p>
            </div>
        </div>
    </div>
{% endblock %}